@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.Name != null)
{
    <div class="text-center">
        <h1 class="display-4">Hello, @User.Identity.Name</h1>
        <p>Here are all your tasks, but you can <a href="../Task/CreateTask">create more</a>.</p>
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Task Manager</h1>
        <p>Please <a href="../Account/Login">log in</a> or <a href="../Account/Register">register</a> a new account.</p>
    </div>
}
